In [5]:
import pandas.io.clipboard as cb

C:\Users\huguobin\AppData\Local\Temp\ipykernel_39912\563635765.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas.io.clipboard as cb

In [12]:
cb.paste()

'a\t字段a\tvarchar(30)\r\ncust_no\t客户编号\tdecimal(30)\r\n'

In [7]:
cb.copy("复制内容")  # 复制到剪切板

In [15]:
pasteContent=cb.paste()

In [16]:
import pandas as pd
import io

In [26]:
df=pd.read_csv(io.StringIO(pasteContent),sep='\t',header=None)

In [27]:
df

         0     1            2
0        a   字段a  varchar(30)
1  cust_no  客户编号  decimal(30)

In [22]:
res=''

In [23]:
attrComment=''
attrType=''
attrCol=''
attr=f'''
/**
* {attrComment}
*/
private {attrType} {attrCol} ;
'''

In [42]:
df.iloc[0]

a                  cust_no
字段a                   客户编号
varchar(30)    decimal(30)
Name: 0, dtype: object

In [43]:
df.shape

(1, 3)

In [19]:
def getAttrComment(raw):
    col1=str(raw.iloc[0])
    col2=str(raw.iloc[1])
    col3=str(raw.iloc[2])
    print(col1,col2,col3)
    col1Lan=detect(col1)
    col2Lan=detect(col2)
    col3Lan=detect(col3)
    attrComment=''
    attrType=''
    attrCol=''
    cols={col1,col1Lan,col2,col2Lan,col3,col3Lan}
    for key,value in cols.items():
        if 'zh-ch'== value:
            attrComment=key
        if ''
    print(col1Lan,col2Lan,col3Lan)

SyntaxError: expected ':' (3633812633.py, line 16)

In [85]:
import sqlparse
from sqlparse.tokens import Keyword

In [76]:
sqlparse.parse('10')

(<Statement '10' at 0x25447BB5B00>,)

In [69]:
import sqlglot

In [31]:
res=[]
for pre in range(df.shape[0]):
    raw=df.iloc[pre]
    attrCol=str(raw.iloc[0])
    attrComment=str(raw.iloc[1])
    attrType=str(raw.iloc[2])
    attr=f'''
/**
* {attrComment}
*/
private {attrType} {attrCol} ;
'''
    res.append(attr)
res='\n'.join(res)

In [32]:
print(res)

/**
* 字段a
*/
private varchar(30) a ;


/**
* 客户编号
*/
private decimal(30) cust_no ;