In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
import pandas as pd
import numpy as np
import datetime

C:\Users\26598\AppData\Local\Temp\ipykernel_8696\3059718635.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

参考:[创建DataFrame：10种方式任你选 (qq.com)](https://mp.weixin.qq.com/s?__biz=Mzg3ODY2MDAyMQ==&mid=2247493062&idx=1&sn=915f5cd239c9499bffd56b2c398ec202&chksm=cf12f51cf8657c0ade5433ca848aa07a8b4895d29f86d962c69a31854fce7095e020fe1aeabd&scene=178&cur_album_id=1999223977226862596#rd)

## 手动创建df

空df

In [9]:
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [6]:
# index 默认 None
pd.DataFrame(columns=['A','B','C'])

Empty DataFrame
Columns: [A, B, C]
Index: []

可以看出 index=None 的话，dataframe只有列，没有行

In [5]:
pd.DataFrame(columns=['A','B','C'],index=[1,2,3])

     A    B    C
1  NaN  NaN  NaN
2  NaN  NaN  NaN
3  NaN  NaN  NaN

dict[list] 创建 df

dict中是每一列的数据

In [13]:
dic1 = {
    "name": ["小明", "小红", "小孙"],
    "age": [20, 18, 27],
    "sex": ["男", "女", "男"],
}
pd.DataFrame(dic1)

  name  age sex
0   小明   20   男
1   小红   18   女
2   小孙   27   男

dict[dict] 创建df

dict中是每一列的数据

In [14]:
dic2 = {
    "数量": {"苹果": 3, "梨": 2, "草莓": 5},
    "价格": {"苹果": 10, "梨": 9, "草莓": 8},
    "产地": {"苹果": "陕西", "梨": "山东", "草莓": "广东"},
}
pd.DataFrame(dic2)

    数量  价格  产地
苹果   3  10  陕西
梨    2   9  山东
草莓   5   8  广东

list 创建df

In [17]:
lst = [
    ["小明", "20", "男"],
    ["小红", "23", "女"],
    ["小周", "19", "男"],
    ["小孙", "28", "男"],
]
pd.DataFrame(lst,columns=["姓名","年龄","性别"])

   姓名  年龄 性别
0  小明  20  男
1  小红  23  女
2  小周  19  男
3  小孙  28  男

## 本地文件创建

读取excle

参考：https://zhuanlan.zhihu.com/p/142972462

In [7]:
# header 表头，默认0，表示第一行
    # header = 1 第二行是表头，第一行就不要了
    # header = [1,2,3] 第234行是表头
    # header =None 没有表头
# index_col 默认 None，表示使用第几列为索引
    #index_col=None 不适用数据列作为索引，自增0开始
    #index_col=0 使用数据第一列作为索引
    #index_col=[0,2] 使用指定数据列的 整数列为索引列
pd.read_excel(
    './data/team.xlsx'
    ,header=0
    ,index_col=0
    )

         name team  Q1  Q2  Q3  Q4
序号
1       Liver    E  89  21  24  64
2        Arry    C  36  37  37  57
3         Ack    A  57  60  18  84
4       Eorge    C  93  96  71  78
5         Oah    D  65  49  61  86
..        ...  ...  ..  ..  ..  ..
96    Gabriel    C  48  59  87  74
97    Austin7    C  21  31  30  43
98   Lincoln4    C  98  93   1  20
99        Eli    E  11  74  58  91
100       Ben    E  21  43  41  74

[100 rows x 6 columns]

In [ ]:
pd.read_excel()

## 读取数据库文件创建

## 使用python字典创建

## python列表创建

## python元组创建

## 使用Series数据创建

## numpy数组创建

## 使用构建器from_dict

## 使用构建器from_records