数据准备

In [2]:
import pandas as pd
import numpy as np

iterables = [['1', '2', '3'], ['bule', 'green']]
arrays = pd.MultiIndex.from_product(iterables, names=['number', 'color'])
use_df = pd.DataFrame(
    np.random.randn(6,6),
    index = arrays,
    columns=arrays
)
use_df

number               1                   2                   3
color             bule     green      bule     green      bule     green
number color
1      bule   0.306405 -0.831923 -0.309999  0.717170  1.081196  1.344566
       green  0.177813 -0.899795 -1.900077 -1.485457 -0.425468  0.091279
2      bule   1.078996 -2.353536 -0.416396 -1.205152 -1.326024 -0.231985
       green  1.699191  0.036600 -0.720186 -1.776045  1.669891  0.469562
3      bule   0.148632  0.744012 -1.238803  0.380989  0.419839  0.473438
       green  1.029978  0.251970 -0.316622 -1.637931  0.107140 -1.488764

# 获取索引

In [14]:
use_df.index

MultiIndex([('1',  'bule'),
            ('1', 'green'),
            ('2',  'bule'),
            ('2', 'green'),
            ('3',  'bule'),
            ('3', 'green')],
           names=['number', 'color'])

In [15]:
use_df.index.values

array([('1', 'bule'), ('1', 'green'), ('2', 'bule'), ('2', 'green'),
       ('3', 'bule'), ('3', 'green')], dtype=object)

In [17]:
use_df.index.get_level_values(0)
# use_df.index.get_level_values('number')

Index(['1', '1', '2', '2', '3', '3'], dtype='object', name='number')

# 获取数据

In [10]:
use_df['1']

color             bule     green
number color
1      bule   0.306405 -0.831923
       green  0.177813 -0.899795
2      bule   1.078996 -2.353536
       green  1.699191  0.036600
3      bule   0.148632  0.744012
       green  1.029978  0.251970

In [11]:
use_df[['1','2']]

number               1                   2
color             bule     green      bule     green
number color
1      bule   0.306405 -0.831923 -0.309999  0.717170
       green  0.177813 -0.899795 -1.900077 -1.485457
2      bule   1.078996 -2.353536 -0.416396 -1.205152
       green  1.699191  0.036600 -0.720186 -1.776045
3      bule   0.148632  0.744012 -1.238803  0.380989
       green  1.029978  0.251970 -0.316622 -1.637931

In [12]:
use_df.loc['1']

number         1                   2                   3
color       bule     green      bule     green      bule     green
color
bule    0.306405 -0.831923 -0.309999  0.717170  1.081196  1.344566
green   0.177813 -0.899795 -1.900077 -1.485457 -0.425468  0.091279